**/*~
.classpath
.project
.pydevproject
.settings/
sElect/
nginx_config/
#Ignore all created elections
elections/
elections_hidden/
# all 'node_modules' directories except for that in the root dir
**/*/node_modules/
_data_*
_configFiles_*
*electionsURI.json
ElectionHandler/webapp/js/ElectionConfigFile.js
ElectionHandler/webapp/js/serverAddresses.js
ElectionHandler/webapp/js/config.js
ElectionHandler/webapp/pure/
ElectionHandler/webapp/ref/
ElectionHandler/webapp/roboto/*.ttf
*.pyc
